<md-card>
  <md-toolbar>Login</md-toolbar>
  <md-card-content>
    <form [formGroup]="loginForm">
      <md-input-container>
        <input type="text" required mdInput placeholder="Username" formControlName="username" id="username">
        <md-hint *ngIf="formErrors.username">{{ formErrors.username }}</md-hint>
      </md-input-container>
      <md-input-container>
        <input type="password" required mdInput placeholder="Password" formControlName="password" id="password">
        <md-hint *ngIf="formErrors.password">{{ formErrors.password }}</md-hint>
      </md-input-container>
      <button md-raised-button color="primary" (click)="onLoginSubmit()">Login</button>
    </form>
  </md-card-content>
</md-card>