<md-toolbar color="primary">
  <h2 class="title-bar">{{ title }}</h2>
  <span class="app-toolbar-filler"></span>
  <div *ngIf="!isLoggedIn()">
    <a routerLink="/register">Register</a><span>&nbsp;&nbsp;</span><a routerLink="/login">Login</a>
  </div>
  <div *ngIf="isLoggedIn()">
    <button md-button (click)="onLogoutClick()">Logout</button>
  </div>
</md-toolbar>
<md-sidenav-container id="app-background">
  <md-sidenav #start mode="side">
    <md-toolbar color="accent">Navigation</md-toolbar>
    <div class="app-sidenav">
      <md-nav-list>
        <a md-list-item routerLink="/" (click)="start.close()">Home</a>
      </md-nav-list>
      <md-nav-list *ngIf="!isLoggedIn()">
        <a md-list-item routerLink="/login" (click)="start.close()">Login</a>
        <a md-list-item routerLink="/register" (click)="start.close()">Register</a>
      </md-nav-list>
      <md-nav-list *ngIf="isLoggedIn()">
        <a md-list-item routerLink="/dashboard" (click)="start.close()">Dashboard</a>
      </md-nav-list>
      <hr *ngIf="isLoggedIn()">
      <button md-button *ngIf="isLoggedIn()" (click)="start.close(); onLogoutClick()" class="nav-list-button">LOGOUT</button>
      <hr>
      <button md-button (click)="start.close()" class="nav-list-button">CLOSE</button>
    </div>
  </md-sidenav>
  <md-toolbar>
    <button md-icon-button (click)="start.toggle()">
      <md-icon>menu</md-icon>
    </button>
    {{ subtitle }}
  </md-toolbar>
  <div class="app-content">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
